<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625961201550-3lenf1rhjkpnl0452sgv8hk3ti9soav5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625961201550-3lenf1rhjkpnl0452sgv8hk3ti9soav5</string>
	<key>API_KEY</key>
	<string>AIzaSyCYGbd_R4x4S08vNZKyUtVlTuxyYCjEKNY</string>
	<key>GCM_SENDER_ID</key>
	<string>625961201550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beytullahozer.iTunesApp</string>
	<key>PROJECT_ID</key>
	<string>itunes-54047</string>
	<key>STORAGE_BUCKET</key>
	<string>itunes-54047.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625961201550:ios:b488cbd8703c9ed9353edf</string>
</dict>
</plist>