<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<string>NO</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
	<string>YES</string>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Graphie-Bold.otf</string>
		<string>Graphie-Book.otf</string>
		<string>Graphie-Regular.otf</string>
		<string>Graphie-SemiBold.otf</string>
	</array>
</dict>
</plist>
